{% extends "theme.html" %}


{% block title %} Login | DjangoLife {% endblock %}

{% block main_contant %}

        <form method="post">
{#            <div class="form-group">#}
{#                <label for="username" class="control-label">Username</label>#}
{#                <input type="text" class="form-control" name="username" placeholder="Username" />#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#                <label for="password" class="control-label">Password</label>#}
{#                <input type="password" class="form-control" name="password">#}
{#            </div>#}


            {{ form.as_p }}


            <button type="submit" class="btn btn-primary">Login</button>

            {% csrf_token %}
        </form>

{% endblock %}